<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>{% block title %}{% endblock %} | Story Generator</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script
        defer
        src="{{ url_for('static', filename='js/form.js') }}"
    ></script>
</head>
<body class = "h-screen overflow-x-hidden overflow-y-auto">
    <nav class = "sticky w-screen top-0 py-8 px-8 flex justify-between items-center border-b border-gray-200">
        <a href = "/" class = "text-xl font-500">Story Generator</a>

        <div class = "space-x-6">
            <a href = "#" class = "text-lg font-semibold hover:text-blue-500">Our Team</a>
            <a href = "#" class = "text-lg font-semibold hover:text-blue-500">Q &amp A</a>

            <a href = "#" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" style='margin-top:10px;'>Log In</a>
        </div>
    </nav>
    <div class="h-3/4 min-h-min max-h-fit w-auto flex justify-center flex-wrap px-8 py-8 mb-2">
        {% block content %}
        {% endblock %}
    </div>

    <footer class= "w-screen py-6 px-6 flex justify-between bg-blue-200">
        <div class= "w-2/3 pr-10">
            <h2 class = "text-lg mb-5 font-semibold text-gray-400"> About </h2>

            <p class = "text-lg text-gray-500"> Story Generator is a student-organized website </p>
        </div>

        <div class= "text-right w-1/3 pr-3">
            <h2 class = "text-lg mb-5 font-semibold text-gray-400"> Support Us </h2>

            <ul class = "text-lg text-gray-500"> 
                <li ><a href="#" class = "text-lg text-teal-500 hover:text-teal-700">Become a Partner</a></ul>
        </div>
    </footer>
</body>
</html>