{% extends "base.html" %}


{% block content %}

<div class=" mt-2 px-6 py-6 bg-gray-100 rounded-xl overflow-auto" >
    <h2 class = "mb-6 text-2xl text-center"> Let's Make a New Story! </h2>
    <div class = "w-full max-w-lg grid gap-3 place-items-center place-content-center" >
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4" action='/create/stage2' method="POST">
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="place">
                    Place
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='text' name='place' placeholder = 'Place'>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="time_period">
                    Time Period
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='number' name='time_period' placeholder = 'Time Period'>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="characters">
                    Characters
                </label>
                <textarea name="characters" id="" cols="50" rows="4" placeholder="characters separated comma"></textarea>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="main_character">
                    Main Character
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='text' name='main_character' placeholder = 'Main Character'>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="word_count">
                    Word Count
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='number' name='word_count' placeholder = 'Length'>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="theme">
                    Theme
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='text' name='theme' placeholder = 'Theme'>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="audience">
                    Audience
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='text' name='audience' placeholder = 'Audience'>
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="cover">
                    Cover 
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='file' name='cover' placeholder = 'Theme'>
            </div>
            <button  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" style='margin-top:10px;' type='submit' >Create a story</button>
        </form>
    </div>
</div>

{% endblock content %}