{% extends "base.html" %}
{% block title %}
    Random
{% endblock %}

{% block content %}

{% include "skeleton.html"%}
<div class=" mt-2 px-6 py-6 bg-gray-100 rounded-xl overflow-auto" id = "create-form">
    <div class="w-full">
        <h2 class = "mb-6 text-2xl text-center"> Let's Make a New Random Story! </h2>
    </div>
    <div class = "w-full max-w-lg grid gap-3 place-items-center place-content-center" >
        <form id = "form-create" class="bg-white shadow-md rounded px-5 pt-5 pb-5 mb-4" action='/create/stage2' method="POST">
            <div class="mb-4 w-full mr-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="word_count">
                    Word Count
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='number' name='word_count' placeholder = 'Length'>
            </div>
            
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="cover">
                    Cover 
                </label>
                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" type='file' name='cover' placeholder = 'Theme'>
            </div>
            <button id = "create-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" style='margin-top:10px;' type='submit' >Create random story</button>
        </form>
    </div>
</div>

{% endblock content %}