/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    --tw-bg-opacity: 1;
    background-color: transparent;
    border-radius: 0 8px 8px 0;
  }
  
  /* Handle */
 
  ::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background: #888;
    display: none;
  }

  .horizontal-scroll::-webkit-scrollbar-thumb {
    background: #555;
    display: block;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
    display: block;
  }

body{
    height:100%;
    display:flex;
    flex-direction: column;
}

body > :not(footer){
    flex: 1 0 auto;
}

nav, footer{
    z-index:100;
}

.footer {
    flex-shrink: 0;
}

form{
    display:flex;
    flex-wrap:wrap;
}

form input, form label {
    
    padding:0 5px;
}

form div{
    margin:0 5px;
}

img{
    object-fit: cover;
}

.grid{
    text-transform: uppercase;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
}


#story-board ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#story-board ul li {
    --c: rgb(101, 222, 238);
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
}

#story-board ul #list4{
    font-size: 12px;
    width: auto;
    height: auto;
    margin: 0.5em;
}


#story-board ul li a{
    display: block;
    width: 100%;
    height:100%;
    transform: translateY(-10%);
    z-index:2;
}

#list1 span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(0);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#list2 span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(-200%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#list4 span{
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(-200%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

#list1:hover, #list2:hover,#list3:hover, #list4:hover {
    color: black;
}

#list1:hover span {
    transform: translateY(-139%) scale(2);
}

#list2:hover span{
    transform: translateY(-62%) scale(2);
}

#list3:hover span {
    transform: translateY(-139%) scale(2);
}

#list4:hover span{
    transform: translateY(-62%) scale(2);
}

#list1 span:nth-child(2), #list2 span:nth-child(2), #list3 span:nth-child(2), #list4 span:nth-child(2){
    --n: 1;
}

#list1 span:nth-child(3), #list2 span:nth-child(3), #list3 span:nth-child(3), #list4 span:nth-child(3) {
    --n: 2;
}

#list1 span:nth-child(4), #list2 span:nth-child(4), #list3 span:nth-child(4), #list4 span:nth-child(4) {
    --n: 3;
}

#list1 span:nth-child(5), #list2 span:nth-child(5), #list3 span:nth-child(5), #list4 span:nth-child(5){
    --n: 4;
}

